{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home TSF</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="b1">
	<nav class="banner-text">
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fa fa-bars"></i>
		</label>
		<label class="logo">Basic Banking System</label>

		<ul>
			<li><a class="active" href="home">Home</a></li>
			<li><a href="customers">Customers</a></li>
			<li><a href="trans">Transaction</a></li>
		</ul>


	<div class="animation-area">
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	</nav>
	<section>

		<p class="p1">"Welcome to our Banking System"</p>

	</section>
<br><br><br><br><br><br> <hr>
<p style="color: black; padding-left:450px;">&copy Copyright Created by Navya Thakur All Rights Reserved</p>


</body>
</html>
